

div {
    border: red solid 2px;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;       
    display: flex;     
    margin: 0;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: space-between;
    margin: 0 15%;
   
       
     
}

.header {
 display: flex;
 justify-content: space-between;

}

.footer {
    margin-top: auto;
}