
/*
div {
    border: red solid 2px;
}

*/








body {
    font-family:'Roboto', sans-serif;
    min-height: 100vh;       
    display: flex;     
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    
   
       
     
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 15% 40px;
}

.headerleft {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    

}

.headerleft img {
    width: 60px;
    height: 60px;
}






a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px 10px;
    text-decoration: none;
}

a:hover {
    font-size: 22px;

}

 
    


.core1 {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 40px 15% 40px;
    background-color: #1f2937;
       
}


.core1left,.core1right {
    flex: 1;    
    }

.imageright {
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
}





.mtext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.stext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

.text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;

}


button {
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 25px;
    border-color: #3882f6;
}
    
 


.core1right {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.core2, .core3, .core4 {
    display: flex;
    padding: 40px 15% 40px;
    justify-content: center;
    align-items: center;
}

.core2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.6;
}

#cardimg {
    height: 200px;
    width: 150px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
       
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 10px;
}
.cards {
    display: flex;   
    gap: 50px;    
}

.core3 {
 background-color: #E5E7EB;

}

.core4 {
    padding: 80px;
       
}

.core4button {
    display: flex;   
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 35px 80px;
    border-color: #3882f6;
    align-items: center;      
    
}

.core4header {
    font-size: 24px;
    font-weight: 700;

}
.core4left {
    margin-right: 80px;   

}

    
    


.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    
}

.button2 {
    border: solid 1px #E5E7EB
  }

.footer {
   background-color: #1f2937;
   color: #E5E7EB;
   padding: 15px;
   font-size: 14px;
   

}

figcaption {
    font-size: 16px;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    
    
}